/*****************************************************
* cloud.css_t
* ~~~~~~~~~~~
*
* stylesheet for "Cloud" theme for Sphinx.
*
* :copyright: Copyright 2011-2012 by Assurance Technologies
* :license: BSD
*
*****************************************************/

@import url("basic.css");




















    



    



    



























    



    



    






    
    
























































    
        
    

    
        
            
            
        
        
    

    
        
    

    
        
            
            
        
        
    

    
        
    

    
        
            
            
        
        
    






* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body
{
    padding: 0;
    color: #000;
    font-family: PT Sans, sans-serif;
    font-size: 100%;
    line-height: 1.5em;

    
        margin: 1em 1em 0;
        background: #800000;
        background-attachment: fixed;
    
}


    
    
    
    





    
    
    
    










div.related
{
    margin: 0 auto;
    max-width: 12in;
    background: #800000;
    line-height: 1.5em;
    padding: .75em 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);

    

    
}

div.relbar-top div.related
{
    
    
        -moz-border-radius: .7em .7em 0 0;
        -webkit-border-radius: .7em .7em 0 0;
        -o-border-radius: .7em .7em 0 0;
        -ms-border-radius: .7em .7em 0 0;
        border-radius: .7em .7em 0 0;
    


}

div.relbar-bottom div.related
{
    
    
        -moz-border-radius: 0 0 .7em .7em;
        -webkit-border-radius: 0 0 .7em .7em;
        -o-border-radius: 0 0 .7em .7em;
        -ms-border-radius: 0 0 .7em .7em;
        border-radius: 0 0 .7em .7em;
    



    
}



    
    
    
    




div.related a
{
    display: inline-block;
    padding: 0.3em 0.6em;
    
    
        -moz-border-radius: 0.8em;
        -webkit-border-radius: 0.8em;
        -o-border-radius: 0.8em;
        -ms-border-radius: 0.8em;
        border-radius: 0.8em;
    


    font-weight: bold;
    color: #ffffff;
    border: 1px solid transparent;
}

div.related li.right a
{
    background: rgba(0,0,0,.1);
    font-weight: normal;
}

div.related a:hover,
div.related li.right a:hover
{
    background: #fff9e4;
    color: #d39110;
    border-color: #F8D186;
    text-decoration: none;
    text-shadow: none;
    
    
        -moz-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -o-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -ms-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
    


}


    
    
    






div.document
{
    
    position: relative;
    margin: 0 auto;
    max-width: 12in;
    background: #800000;

    
}

    

div.documentwrapper
{
    float: left;
    width: 100%;
}

div.bodywrapper
{
        margin: 0 0 0 3in;
    
}


    
    
    




    
    
    
    




div.document.sidebar-hidden div.bodywrapper {
    margin-left: 0;
}

div.body
{
    min-height: 12in;
    

    
    background-color: #F5F5F5;
    border-left: 1px solid rgba(0,0,0,.05);
    
        
            
    
        -moz-box-shadow: -1px 0 2px rgba(0,0,0,.05);
        -webkit-box-shadow: -1px 0 2px rgba(0,0,0,.05);
        -o-box-shadow: -1px 0 2px rgba(0,0,0,.05);
        -ms-box-shadow: -1px 0 2px rgba(0,0,0,.05);
        box-shadow: -1px 0 2px rgba(0,0,0,.05);
    


        
    

    line-height: 1.5em;

    color: #000000;
    padding: 30px 20px;

    
}


    
    
    








div.sphinxsidebar
{
    margin-top: 0;
    width: 3in;

    font-size: 90%;
    line-height: 1.25em;

    
}


    
    
    
    





    
    
    



div.document.sidebar-hidden div.sphinxsidebar { display: none; }

div.sphinxsidebarwrapper
{
    padding: 1em 0 0 10px;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4
{
    padding: 0;
    margin: 24px 16px 0 0;

    font-family: PT Sans, sans-serif;
    font-weight: normal;
    color: #B0B0B0;
}

div.sphinxsidebar h3 { font-size: 1.4em; }
div.sphinxsidebar h4 { font-size: 1.3em; }

div.sphinxsidebar h3 a,
div.sphinxsidebar h4 a
{
    color: #B0B0B0;
}

div.sphinxsidebar p
{
    color: #B0B0B0;
}

div.sphinxsidebar p.topless
{
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul
{
    margin: 10px;
    margin-right: 0;
    padding: 0;
    color: #B0B0B0;
}

div.sphinxsidebar a
{
    color: #F5F5F5;
    border: 1px solid transparent;
    border-width: 1px 0;
}

div.sphinxsidebar a:hover
{
    color: #d39110;
    background: #fff9e4;
    border-color: #F8D186;
    text-decoration: none;
}

div.sphinxsidebar ul li a
{
    overflow: hidden;
    white-space: nowrap;
}

div.sphinxsidebar ul li a:hover
{
    
    display: inline-table;
    min-width: 98%;
    min-width: calc(100% - 5px);
    
}

div.sphinxsidebar a:active
{
    color: #B0B0B0;
}

div.sphinxsidebar p.logo
{
    margin: 1em 0 0 -10px;
    text-align: center;
    max-width: 100%;
}

div.sphinxsidebar p.logo a
{
    display: inline-block;
    
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    


}


div.sphinxsidebarwrapper > h3:first-child,
div.sphinxsidebarwrapper > h4:first-child,
div.sphinxsidebarwrapper > div:first-child > h3:first-child,
div.sphinxsidebarwrapper > div:first-child > h4:first-child
{
    margin-top: .2em;
}




div.sphinxsidebar ul,
div.sphinxsidebar ul ul,
div.sphinxprev p.topless,
div.sphinxnext p.topless
{
    list-style: none;
    margin-left: 0;
}

div.sphinxsidebar ul ul
{
    margin-left: 1.5em;
}


div.sphinxsidebar ul a,
div.sphinxprev a,
div.sphinxnext a
{
    position: relative;
    display: block;
    padding: 1px 4px 3px 5px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    


}


div.sphinxsidebar ul a:hover,
div.sphinxprev a:hover,
div.sphinxnext a:hover
{
    background: #fff9e4;
    border-color: #F8D186;
    color: #d39110;
    text-decoration: none;
}

    
    div.sphinx-toc ul a:not([href^="#"]):hover
    {
        position: relative;
        overflow: visible; 
    }

    div.sphinx-toc ul a:not([href^="#"]):hover:before
    {
        content: "⇒";
        position: absolute;
        right: 100%;
        font-size: 1.5em;
        margin-right: 4px;
        opacity: 0.7;
    }








div.sphinxglobaltoc ul a[href="#"]
{
    font-style: italic;
}

div.sphinxglobaltoc ul a:not([href*="#"])
{
    font-size: 0.95em;
    font-style: italic;
}


div.sphinx-toc li
{
    position: relative;
}

div.sphinx-toc li:before
{
    position: absolute;
    left: -0.8em;
    color: #F2D41E;
}

    
    
        div.sphinx-toc li.current.active:not(.focus):before
        {
            content: "▼";
            top: 0.1em;
            opacity: 0.5;
        }
    

    
    div.sphinx-toc li.focus.local:before
    {
        content: "▶";
        opacity: 0.7;

        
        
    }

    
    div.sphinx-toc > ul:not(:hover) li.focus.child:before
    {
        content: "⇒";
        opacity: 0.5;
        font-size: 1.5em;
        margin-left: -4px;
    }


div.sphinx-toc li.focus.local > a:not(:hover)
{
    color: #F2D41E;
}


div.sphinx-toc li.toc-toggle > a:after
{
    content: "[–]";
    padding-left: .25em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=
    50);
    opacity: 0.5;

}

div.sphinx-toc li.toc-toggle.closed > a:after
{
    content: "[+]";
}





div.sphinxsidebar input,
h1#search-documentation ~ form > input
{
    border: 1px solid #008000;
    font-family: sans-serif;
    font-size: 1em;
}

div#searchbox input[type="submit"],
h1#search-documentation ~ form > input[type="submit"]
{
    background: #F2D41E;
    
    
        -moz-border-radius: 0 0 0.7em 0;
        -webkit-border-radius: 0 0 0.7em 0;
        -o-border-radius: 0 0 0.7em 0;
        -ms-border-radius: 0 0 0.7em 0;
        border-radius: 0 0 0.7em 0;
    


}

div#searchbox input[type="submit"]:hover,
h1#search-documentation ~ form > input[type="submit"]:hover,
button.sidebar-toggle#sidebar-hide:hover,
button.sidebar-toggle#sidebar-show:hover,
.highlight .copybutton:hover
{
    background: #fff9e4;
    color: #d39110;
    border-color: #F8D186;
}

h1#search-documentation ~ form > input[type="text"]:focus,
div.sphinxsidebar input[type="text"]:focus
{
    border-color: #F8D186;
}

.highlight .copybutton:hover:not(:active),
div.sphinxsidebar button:hover:not(:active),
div.sphinxsidebar input[type="submit"]:hover:not(:active),
h1#search-documentation ~ form > input[type="submit"]:hover,
button.sidebar-toggle:hover:not(:active)
{
    
    
        -moz-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -o-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -ms-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
    


}

button.sidebar-toggle::-moz-focus-inner,
.highlight .copybutton::-moz-focus-inner
{
    border: 0;
}

div.sphinxsidebar .searchtip
{
    color: #F2D41E;
}

#searchbox .highlight-link a[href$="hideSearchWords()"]
{
    display: block;
    padding: 0 1em;
    font-size: 80%;
    text-align: right;
}

#searchbox .highlight-link a[href$="hideSearchWords()"]:before
{
    content: "\00D7";
    font-weight: bold;
    padding-right: 0.25em;
}


.sidebar-toggle-group
{
    position: absolute;
    width: 3in;
    top: 0;
    left: 0;
    z-index: 1;
}

    .sidebar-toggle-group.no-js { display: none; }

    
        
    
    
    


    

    
    
    
    



    div.document.sidebar-hidden .sidebar-toggle-group
    {
        width: auto;
    }

    div.document.document-hidden .sidebar-toggle-group
    {
        width: 100%;
    }

button.sidebar-toggle
{
    margin: 0;
    padding: 6px 12px;

    color: #B0B0B0;
    font-size: 1em;
    white-space: nowrap;
}

button#sidebar-hide
{
    position: absolute;
    
        top: 0;
        right: -1px;
    

    background: transparent;
    border: 1px solid rgba(0,0,0,.05);
    
        border-top-width: 0;
    

    border-bottom-left-radius: 0.7em;
    
}

    
    
    
    



button#sidebar-show
{
    position: absolute;
    top: 0;
    
        left: 0;
    

    background: #F2D41E;
    border: 1px solid #008000;
    
        border-top-width: 0;
    

    border-bottom-right-radius: 0.7em;
    
}

    



div.footer
{
    color: #F2D41E;
    width: 100%;
    padding: 9px 0;
    text-align: center;
    font-size: 75%;

    
}

div.footer button.link
{
    margin: 0 -1px;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

div.footer a,
div.footer button.link
{
    color: #F2D41E;
    text-decoration: underline;
}

div.footer a:hover,
div.footer button.link:hover
{
    color: white;
}

div.footer + div.footer,
div.footer + script + div.footer
{
    margin-top: -12px;
}









div.body h1,
div.body h2,
div.body p.rubric,
div.body h3,
div.body h4,
div.body h5,
div.body h6
{
    font-family: PT Sans, sans-serif;
    font-weight: normal;
    color: #008000;
    clear: both;
    
}


    
    
    

div.body h1
{
    
    
        
    
    
        
    font-size: 2.0em;
    line-height: 1.5em;
    margin: 1.5em
    0
    1.5em
    0;

    text-align: center;
    
        color: #008000;
    
}


div.body > .section > h1
{
    
    
    
        
    margin: 0.563em
    0
    1.5em
    0;

}


div.body h1 + .subtitle {
    opacity: 0.54;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2.25rem;
    margin-top: -2.25rem;
    text-align: center;
}div.body h2,
div.body p.rubric
{
    
    
        
    
    
        
    font-size: 1.875em;
    line-height: 1.6em;
    margin: 0.8em
    0
    0.8em
    0;

}

div.body h3
{
    
    
        
    
    
        
    font-size: 1.625em;
    line-height: 1.84615384615em;
    margin: 0.692em
    0
    0.692em
    0;

}
div.body h2,
div.body p.rubric,
.section.emphasize-children > .section > h3,
#table-of-contents > h1, 
h1#search-documentation 
{
    
        
        padding: 0 6px;
        border: 1px solid #008000;
        border-width: 0 0 2px 0;
        color: #008000;
        text-shadow: 1px 1px rgba(0,0,0,.125);
    
    
    
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
    


}


    
    
    






div.body h2,
div.body p.rubric,
#table-of-contents > h1, 
h1#search-documentation 
{
    
    
        
    
    
        
    margin: 0.8em
    -12px
    0.8em
    -12px;

}


.section.emphasize-children > .section > h3
{
    
    
        
    
    
        
    margin: 0.923em
    -12px
    0.923em
    -12px;

}


div.body p.rubric,
.section.emphasize-children > .section > h3
{
    
        border-color: #8B0000;
        color: #8B0000;
        border-width: 0 0 1px 0;
    
}




div.body h4 {
    
    
        
    
    
        
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 1.2em
    0
    1.2em
    0;

    clear: both; 
}
div.body h5 { 
    
        
    
    
        
    font-size: 1.1em;
    line-height: 1.36363636364em;
    margin: 1.364em
    0
    1.364em
    0;
 }
div.body h6 { 
    
        
    
    
        
    font-size: 1.0em;
    line-height: 1.5em;
    margin: 1.5em
    0
    1.5em
    0;
 }#table-of-contents > h1, 
h1#search-documentation 
{
    margin-top: 0;
}


.toctree-wrapper.highlight-pages:not(.hide-sections) li.page > a
{
    font-weight: bold;
}

.toctree-wrapper.space-pages li.page
{
    margin-top: 1em;
}


.toctree-wrapper.hide-sections li:not(.page) {
    list-style: none;
    margin-left: -2.5rem;
}
.toctree-wrapper.hide-sections li:not(.page) > a { display: none; }

#hide-page-sections { float: right; opacity: 0.88; }a.headerlink
{
    color: #000000;
    font-size: 0.8em;
    margin: 0 0 0 1px;
    padding: 0 5px 0 4px;
    text-decoration: none;
    border: 1px solid transparent;
    border-width: 1px 0;
    
    
        -moz-border-radius: 0.35em;
        -webkit-border-radius: 0.35em;
        -o-border-radius: 0.35em;
        -ms-border-radius: 0.35em;
        border-radius: 0.35em;
    


}

div.body a.headerlink:hover
{
    background-color: #fff9e4;
    border-color: #F8D186;
    color: #d39110;
    text-decoration: none;
    
}

a.headerlink:hover:active
{
    
    
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    


}
.html-toggle-button
{
    position: relative;
    cursor: pointer;
}


.html-toggle-button:hover:after,
.section.emphasize-children > .section > h3.html-toggle-button:hover:after 
{
    background: #fff9e4;
    

    border-color: #F8D186;
    
    
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    


    
    
        -moz-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -o-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        -ms-box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5);
    



    color: #d39110;
}


.html-toggle-button:after
{
    position: relative;
    top: -0.15em;
    margin: 0;
    padding: 0.15em 0.3em;
    text-shadow: none;
    font-size: 65%;
    font-style: italic;
    font-weight: bold;
    border: 1px solid transparent;
}



.html-toggle.collapsed > .html-toggle-button:after {  content: "[+ show section]"; }
.html-toggle.expanded > .html-toggle-button:after { content: "[- hide section]"; }


.html-toggle-button:active:after,
.section.emphasize-children > .section > h3.html-toggle-button:active:after

{
    position: relative;
    top: calc(-0.15em + 1px);
    left: 1px;
}


    
    
    



.clear, .clear-both { clear: both; }

.clear-left { clear: left; }

.clear-right { clear: right; }

.clear-none { clear: none; }

    div.body .clear-none > h3 { clear: none; }

.hidden { display: none; }div.body p
{
    text-align: justify;
    
    
        
    
    
        
    margin: 1.5em
    0
    1.5em
    0;

}



div.body li,
div.body dd
{
    text-align: justify;
}

div.body hr {
    margin: 0 10px;
    background: none;
    border: 1px dashed #008000;
    border-width: 1px 0 0 0;
}

.strike
{
    text-decoration: line-through;
}a.footnote-reference
{
    font-size: 70%;
    position: relative;
    top: -.75em;
}

table.docutils.footnote { margin: 1em 0 0 1em; }dl { margin-bottom: 1.5em; }
li > dl:only-child { margin-bottom: 0; }

dd { margin-right: 10px; } 

dd ol { margin-bottom: 10px; }

dl.docutils > dt { font-size: 1.1em; margin-bottom: .5em; }
dl.docutils > dd + dt { margin-top: 1.5em; }


ul + ul,
ul + div > ul:only-child,
div.toctree-wrapper + ul { margin-top: -1em; }


dd ul { margin-bottom: 1.5em; }


li > p ~ ul.simple { margin-bottom: 1.5em; }



a
{
    color: #008000;
    text-decoration: none;
}

a:visited
{
    
    text-decoration: none;
}

a:hover
{
    color: #d39110;
    background: #fff9e4;
    text-decoration: underline;
}

a:hover:active
{
    position: relative;
    left: 1px;
    top: 1px;
    
    
        -moz-box-shadow: 0;
        -webkit-box-shadow: 0;
        -o-box-shadow: 0;
        -ms-box-shadow: 0;
        box-shadow: 0;
    


}

a.biglink
{
    font-size: 130%;
}


    a.external:before
    {
        content: "\21D7";
        padding-right: .1em;
    }

    a.external.issue:before
    {
        content: "\21D7";
    }

    a.external[href^="mailto:"]:before
    {
        content: "";
    }

    em.issue:before
    {
        content: "\21D7";
        padding-right: .1em;
    }
dt:target,
.footnote:target,
.highlighted
{
    padding: 4px;
    margin: -4px;
    background-color: #fbe54e;
    
    
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
    


}

table.fullwidth { width: 100%; }

table.centered { margin-left: auto; margin-right: auto; }

table.docutils.plain { border: none; }
table.docutils.plain tr.row-odd > * { background: none; }


table.docutils.html-plain-table tr.row-odd > * { background: none; }table.docutils th {
    border: 0 solid transparent;
    padding: .4em;
    font-family: PT Sans, sans-serif;
    background: rgba(0,0,0,.15);
}

table.docutils th.head:not(.stub) {
    border-bottom: 1px solid rgba(0,0,0,.15);
}

table.docutils th.stub + td
{
    border-left: 1px solid rgba(0,0,0,.15);
}

table.docutils td {
    padding: .4em;
    border: 0 solid rgba(0,0,0,.15);
}
table.docutils tr.row-odd td { background: rgba(0,0,0,.06); }

h2 + table.docutils { margin-top: 1em; }
table > caption { margin: 1em 0 .5em; font-style: italic; }table.docutils .left-align { text-align: left; }
table.docutils .center-align { text-align: center; }
table.docutils .right-align { text-align: right; }
table.docutils .justify-align { text-align: justify; }
table.docutils .nowrap { white-space: nowrap; }

table.docutils .single-left-divider { border-left-width: 2px; }
table.docutils th + .single-left-divider,
table.docutils th + .double-left-divider { border-left-width: 0; }
table.docutils .double-left-divider { border-left-width: 6px; border-left-style: double; }
table.docutils .single-right-divider:last-child { border-right-width: 2px; }
table.docutils .double-right-divider:last-child { border-right-width: 6px; border-right-style: double; }




table.field-list { margin: 1.5em 0; }


table.field-list th { background: none;  padding: 0 0.4em 0 0; }


table.field-list td { padding: 0 0 1.5em 0; }
table.field-list tr:last-child td { padding-bottom: 0; }


td.field-body > ul.first.simple > li {  margin: 0 0 1.5em 0; }
td.field-body > ul.first.simple > li:last-child {  margin-bottom: 0; }


td.field-body > em,
td.field-body > ul.first.simple > li > em { padding: 2px 4px; }


td.field-body > p,
td.field-body > ul > li > p { margin: 0 0 1.5em; }

td.field-body > p:last-child,
td.field-body > ul > li > .admonition { margin-bottom: 0; }


td.field-body > p:empty { display: none; }



div.admonition, p.deprecated
{
    background: #E7F0FE;
    
    
        
    
    
        
    font-size: 0.88em;
    line-height: 1.70454545455em;
    margin: 0.705em
    0
    0.705em
    0;

    padding: .5em 1em;
    border: 1px solid rgba(0,0,0,.05);
    border-width: 1px 0;
    
    
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
    



    
    background-position: .6em .5em;
    background-size: auto 1.58em;
    background-repeat: no-repeat;

    
    background-image: url("icon-note.png");
}



div.caution, div.important { background-color: #FFF7E0; background-image: url("icon-caution.png"); }
div.warning { background-color: #ffe4e4; background-image: url("icon-warning.png"); }
div.danger, div.admonition.error { background-color: #ffe4e4; background-image: url("icon-danger.png"); }

div.seealso { background-color: #FFF7E0; background-image: url("icon-seealso.png"); }
div.admonition-todo { background-color: #FFF7E0; background-image: url("icon-todo.png"); }
p.deprecated { background-color: #fbece0; background-image: url("icon-deprecated.png"); }


div.admonition p,
div.admonition pre,
div.admonition ul,
div.admonition ol {
    
    
        
    
    
        
    line-height: 1.70454545455em;
    margin: 0.0em
    0
    0.0em
    0;

}


h1 ~ div.admonition { margin-left: 1.5em; margin-right: 1.5em; }div.admonition.float-right,
div.admonition.floater 
{
    float: right;
    max-width: 40%;
    margin: 0 0 1.5em 1.5em;
}

.admonition.float-left
{
    float: left;
    max-width: 50%;
    margin: 0 1.5em 1.5em 0;
}

.admonition.float-center
{
    clear: both;
    max-width: 65%;
    margin: 0 auto 1.5em;
}
    



    
    



 p.admonition-title.first
{
    
    margin: -.5em -1em .5em;
    padding: .5em .5em .5em 2.65em;
    background: rgba(0,0,0,.05);
    
    
        -moz-border-radius: 3px 3px 0 0;
        -webkit-border-radius: 3px 3px 0 0;
        -o-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    


    
}


 p.admonition-title.first { margin-top: -.5em !important; }


div.admonition.inline-title p.admonition-title
{
    display: inline;
    margin: 0;
    padding: 0 .25em 0 1.5em; 
}

div.admonition.inline-title p.admonition-title:after { content: ":"; }
div.admonition.inline-title p.admonition-title + p { display: inline; }
div.admonition.inline-title p.admonition-title + ul { margin-top: 0; }

    div.admonition.inline-title p.admonition-title { background: none; }



div.admonition.without-title p.admonition-title {
    display: none;
}

div.admonition.without-title
{
    padding-left: 2.65em;
}div#todos p.admonition-title
{
    font-weight: normal;
    color: #AAA;
    font-size: 70%;
}

div#todos div.admonition-todo + p
{
    font-size: 70%;
    text-align: right;
    margin-top: -.5em;
    margin-bottom: 1.5em;
    color: #AAA;
}

div#todos div.admonition-todo + p a
{
    font-size: 130%;
}


div.deprecated, div.versionchanged, div.versionadded
{
    
    
        
    
    
        
    font-size: 0.88em;
    line-height: 1.70454545455em;
    margin: 1.705em
    0
    1.705em
    0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=
    60);
    opacity: 0.6;
;
}


span.versionmodified
{
    font-weight: bold;
}



div.highlight
{
    background: none;
    margin: 1.5em 0;
}

div.highlight pre,
td.linenos pre
{
    padding: 10px;

    font-family: Menlo, monospace;
    font-size: 85%;
    line-height: 1.5em;
}

div.highlight pre
{
    background-color: #E0EEE0;

    border: 1px solid #00C957;
    border-width: 1px 0;
    border-style: solid dotted dotted solid;
    
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    


    color: #111111;
}


div[class|="highlight"] + div[class|="highlight"]
{
    margin-top: -1.5em;
}


p + [class|=highlight] > table.highlighttable
{
    margin-top: -1em;
    
    margin-bottom: -1em;
}


table.highlighttable { display: block; }
table.highlighttable tbody { display: block; }
table.highlighttable tr { display: flex; align-items: flex-start; justify-content: flex-start; }
table.highlighttable td { display: block; padding: 0; }
table.highlighttable td.code { width: 100%; max-width: calc(100% - 1em); }
table.highlighttable div.linenodiv { margin-top: 2.2em; }
table.highlighttable div.linenodiv pre
{
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    padding-right: .5em;
}



    


code
{
    font-family: Menlo, monospace;
    font-size: 90%;
}

code.literal
{
    background-color: rgba(0,0,0,.075);
    border: 1px solid rgba(0,0,0,.05);
    padding: 0px 4px;
    margin: 1px;

    
    
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    


}

p code.literal { white-space: nowrap; }

code.samp.literal > em
{
    font-family: Menlo,  monospace;
    padding: 0 1px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=
    60);
    opacity: 0.6;

}

code.samp.literal > em:before { content: "{"; }
code.samp.literal > em:after { content: "}"; }

h1 code.literal
{
    
    font-size: 80%;
}

h1 code.samp.literal > em
{
    font-weight: normal;
}

div.sphinxsidebar code.literal,
a.reference code.literal,
div.related a code.literal,
code.literal.xref
{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.viewcode-back
{
    font-family: PT Sans, sans-serif;
}

div.viewcode-block:target
{
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}


.highlight .copybutton
{
    position: absolute;
    right: 0;
    top: 0;

    margin: 0;
    padding: 0 6px;

    background: transparent;
    border: 1px solid transparent;
    
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    



    font-size: 75%;
    color: #B0B0B0;
    white-space: nowrap;
    cursor: pointer;
}

.highlight .copybutton.active
{
    text-decoration: line-through;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=
    80);
    opacity: 0.8;

}

.highlight:not(:hover) .copybutton:not(.active)
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=
    70);
    opacity: 0.7;

}




.desc-section > .section-header
{
    position: relative;
}

.desc-section-1 > .section-header
{
    
    
        
    
    
        
    margin: 0.8em
    0
    0.8em
    0;

    border-bottom: 1px dotted #008000;
    color: #008000;
}

.desc-section-2 > .section-header
{
    color: #008000;
}

.desc-section > .section-header:before
{
    
    content: attr(data-nested-label);
    font-size: 0.75em;
    opacity: 0.75;
    letter-spacing: 1px;
    font-style: italic;
}



    
    

    
    
        
        
        
    

    
    dl.object > dt,
    dl.function > dt,
    dl.method > dt,
    dl.attribute > dt,
    dl.class > dt,
    dl.exception > dt,
    dl.classmethod > dt,
    dl.staticmethod > dt
    {
        display: inline-block;
        
            padding: 0.3em 0 0.3em 0.6em;
        
        border: rgba(0,0,0,0.1) solid 1px;
        border-width: 0 0 0 3px;
        
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    


    }

    
    dl.object > dt,
    dl.attribute > dt
    {
        background-color:
        #e6e6e6;
    }

    dl.function > dt,
    dl.method > dt,
    dl.classmethod > dt,
    dl.staticmethod > dt
    {
        background-color:
        #deebf5;
    }

    dl.class > dt
    {
        background-color:
        #eee3ce;
        border-width: 0 0 0 6px;
    }

    dl.exception > dt
    {
        background-color:
        #eee3ce;
    }

    
    dl.object > dt:before,
    dl.function > dt:before,
    dl.method > dt:before,
    dl.attribute > dt:before,
    dl.class > dt > .property:first-child,
    dl.exception > dt > .property:first-child,
    dl.classmethod > dt > .property:first-child,
    dl.staticmethod > dt > .property:first-child
    {
        font-size: 0.8em;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 0.1em;
        color: rgba(0,0,0,0.3);
    }

    
    
        

        .desc-section  dl.object > dt:before
        {
            content: "obj";
            padding-right: 0.6em;
        }

        .desc-section  dl.attribute > dt:before
        {
            content: "attr";
            padding-right: 0.6em;
        }

        .desc-section  dl.function > dt:before
        {
            content: "func";
            padding-right: 0.6em;
        }

        .desc-section  dl.method > dt:before
        {
            content: "method";
            padding-right: 0.6em;
        }

    



dl > dt.highlighted
{
    background: #fbe54e;
}


.viewcode-link
{
    position: absolute;
    right: 0;
    margin-right: 1.5em;
    margin-right: calc(1em + 10px);
}



table.indextable span.category
{
    font-size: 80%;
    font-style: italic;
    color: #84ADBE;
}

table.indextable a,
table.indextable a:hover span.category
{
    color: #008000;
}

table.indextable span.category span.location
{
    font-weight: bold;
}

table.indextable td > dl > dt
{
    margin-bottom: .5em;
}

table.indextable td > dl > dd > dl
{
    margin-top: -.5em;
    margin-bottom: .5em;
}




@media only screen and (min-device-width: 16in)
{
    
    

}


@media only screen and (min-width: 12in)
{
    
    

}


@media only screen and (min-width: 700px)
{
    
    


    
    .show-for-small { display: none !important; }
}


@media only screen and (max-width: 12in),
       only screen and (max-width: 700px),
       only screen and (max-device-width: 700px),
       handheld
{
    
    
        body
        {
            margin: 0;
        }
    

        div.relbar-top div.related,
        div.relbar-bottom div.related
        {
            
    
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
    


        }
    

        div.bodywrapper
        {
                margin: 0 0 0 2.5in;
            
        }
    

        div.sphinxsidebar { width: 2.5in; }
    

            .sidebar-toggle-group { width: 2.5in; }
        

}


@media only screen and (max-width: 700px),
       only screen and (max-device-width: 700px),
       handheld
{
    
    
        body {
            font-size: 75%;
        }
    

    
    div.related > ul > li.right + li:not(.right) { font-weight: bold; }
    div.related > ul > li:not(.right) + li { display: none; }


    div.bodywrapper
    {
        margin-left: 0;
    }


    div.document:not(.document-hidden) div.sphinxsidebar,
    div.document.document-hidden div.documentwrapper
    {
        display: none;
    }

    div.document.document-hidden div.sphinxsidebar
    {
        width: 100%;
        margin: 0;
        border: 0;
        border-radius: 0;
    }


        button#sidebar-hide
        {
            left: auto;
            top: 0;
            right: 0;
            background: #F5F5F5;
            border-color: #008000;
        }
    

    
    div.body h2,
    div.body p.rubric,
    .section.emphasize-children > .section > h3
    {
        
        
    
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
    


    }



    
    .hide-for-small { display: none; }
}


@media print
{
    
    
    div.body {
        border: 0;
        
    
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    


    }


        .sidebar-toggle-group { display: none; }
    

    
    div.body h1,
    div.body h2,
    div.body p.rubric,
    div.body h3,
    div.body h4,
    div.body h5,
    div.body h6
    {
        color: #000000 !important;
        text-shadow: none !important;
        border: none !important;
        padding: 0;
    }



    
    .html-toggle.expanded > .html-toggle-button:after
    {
        display: none;
    }

    
    .html-toggle.collapsed > .html-toggle-button:after
    {
        content: "[not printed]" !important;
    }



}


    

