/* body {
    background-color: black;
    color: white;
}
div.document {
    background-color: black;
}
*/

.centered {
    text-align: center;
}

body {
  font-family: PT Sans, Roboto, Helvetica, sans-serif;
}

div.body p,
div.body li,
div.body dd,
table.docutils .justify-align {
    text-align:left;
}
